@import '../abstract/variantes';


.accordion {
    background-color: white;
     height: 1500px;
     width: 360px;
     .accordion_texto {
        border: 1px solid transparent;
        color: black;
        font-size: 1.09rem;
        left: 30px;
        position: relative;
        top: 30px;
        text-align: center;
        width: 300px;
     }
}



.accordion {
    .circulo_img { 
        left: 40px;
        height: 280px;
        position: relative;
        top: 50px;
        width: 280px;
    }
    .alteraCirculo{
        border: 1px solid black;
        border-radius: 9999px;
        bottom: 170px;
        left: 103px;
        padding: 76px;
        position: relative;
        width: 150px;
    }
    .circulo_texto {
        bottom: 300px;
        left: 100px;
        position: relative;
        padding: 20px;
        text-align: center;
        width: 170px;
        
    }
}


