@import '../abstract/variantes';


.accordion {
    background-color: white;
     height: 1500px;
     width: 360px;
     .accordion_texto {
        @include accordeonTexto;
        left: 30px;
        margin-bottom: 30px;
        position: relative;
        top: 30px;
        text-align: center;
       
     }
}



.accordion {
    .circulo_img { 
        left: 40px;
        height: 280px;
        position: relative;
        top: 50px;
        width: 280px;
    }
    .alteraCirculo{
        border: 1px solid black;
        border-radius: 9999px;
        bottom: 170px;
        left: 103px;
        padding: 76px;
        position: relative;
        width: 150px;
    }
    .circulo_texto {
        bottom: 300px;
        left: 100px;
        position: relative;
        padding: 20px;
        text-align: center;
        width: 170px;
        
    }
}



.accordion {
    .posicao_circulo01 {
        bottom: 510px;
        position: relative;
        left: 145px;
    }
    .posicao_circulo02 {
        bottom: 330px;
        left: 170px;
        position: relative;
    }
    .posicao_circulo03 {  
        bottom: 326px;
        position: relative;
        right: 115px;
    }
    .accordion_texto02 {
        @include accordeonTexto;
        bottom: 260px;
        left: 40px;
        position: relative;
    
    }
}