@import '../abstract/variantes';

.accordion_textos {
    bottom: 200px;
    position: relative;
    
     .estiloTexto {
        left: 100px;
        position: relative;
        padding: 20px;
    
     }
     .accordion-header {
       @include estiloBotaoAccordion;
     }
     .accordion-header:hover{
          background: #03b5b0;
     }
     .alteraSimbolo {
        @include alteraSimbolo;
        left: 304px;
        position: relative;
     }
     .alteraSimbolo:hover{
        background:#7a2b58 ;
     }
     .texto_titulo {
       position: relative;
       right: 70px;
     }
     .texto_titulo02 {
      position: relative;
      right: 25px;
     }
     .texto_titulo03 {
      position: relative;
      right: 25px;
     }
}
