.cabecalho {
    .cabecalho_bg{
        width: 100%;
    }
        .cabecalho_logo {
            bottom: 390px;
            left: 140px;
            position: relative;
            width: 100px;   
    }
         .cabecalho_titulo {
              color: white;
              font-size: 1.2rem;
              left: 80px;
              position: absolute;
              top: 150px;
         }
         .cabecalho_texto {
              color: white;
              font-size: 0.9rem;
              left: 100px;
              position: absolute;
              top: 175px;
         }
         .cabecalho1024 {
            display: none ;
         }
         .cabecalhoDesktop {
            display: none;
         }
}