@import '../abstract/variantes';

.btn-group {
    .primeiro-cartao {
        @include cartoes;
        height: 188px;
        left: 74px;
        position: relative;
        top: 70px;
        
    }
    .cartao_mulherlousa {
        left: 45px;
        position: relative;
        height: 130px;
        top: 20px;
        width: 130px;
    }
    .cartao_retangulo {
        position: relative;
        right: 2px;
        top: 25px;
        width: 221px;
    }
   
    
    
}  



.btn-group {
    .segundo-cartao {
       @include cartoes;
       left: 75px;
       position: absolute;
       top: 420px;
       
}
    .cartao_arquivo {
        left: 40px;
        position: relative;
        top: 50px;
        width: 130px;  
}

}



.btn-group {
    .terceiro-cartao {
        @include cartoes;
        position: relative;
        right: 150px;
        top: 750px;
    }
    .cartao_pessoasMesa {
        left: 50px;
        position: relative;
        top: 20px;
        width: 130px;
    }
    .cartao_retangulo03 {
        position: relative;
        top: 30px;
        right: 2px;
        width: 221px;
    }
   
}

