@import '../abstract/variantes';

.btn-group {
    .primeiro-cartao {
        @include cartoes;
        height: 188px;
        left: 74px;
        position: relative;
        top: 70px;
        
    }
    .cartao_mulherlousa {
        left: 45px;
        position: relative;
        height: 130px;
        top: 20px;
        width: 130px;
    }
    .cartao_retangulo {
        position: relative;
        right: 2px;
        top: 25px;
        width: 221px;
    }
    .botao {
        position: relative;
        right: 61px;
        top: 225px;
        width: 60px;
    }
    .card_interacao {
        background: yellow;
        border: 1px solid transparent;
        border-radius: 20px;
        position: relative;
        right: 180px;
        top: 270px;
        text-align: center;
        width: 220px;
    }
    .card_texto {
        margin-top: 15px;
    }
    .card-body {
       @include card-body;
       
    }
    .posicao01 {
        position: relative;
        right: 205px;
        top: 270px;
        
    }
}  



.btn-group {
    .segundo-cartao {
       @include cartoes;
       left: 75px;
       position: absolute;
       top: 420px;
       
}
    .cartao_arquivo {
        left: 40px;
        position: relative;
        top: 50px;
        width: 130px;  
}
    .botao02 {
        position: relative;
        right: 120px;
        top: 580px;
        width: 60px;
    }
    .posicao02 {
        position: relative;
        right: 260px;
        top: 650px;
    }

}



.btn-group {
    .terceiro-cartao {
        @include cartoes;
        position: relative;
        right: 255px;
        top: 750px;
    }
    .cartao_pessoasMesa {
        left: 50px;
        position: relative;
        top: 20px;
        width: 130px;
    }
    .cartao_retangulo03 {
        position: relative;
        top: 30px;
        right: 2px;
        width: 221px;
    }
    .botao03 {
        position: relative;
        right: 390px;
        top: 920px;
        width: 60px;
    }
    .posicao03 {
        position: relative;
        top: 1000px;
        right: 540px;
    }
}

