@import '../abstract/variantes';





.final {
    height: 0px;
.rodape {
    background: #7a2b58;
    bottom: 150px;
    position: relative;
    height: 150px;  
}
.rodape_logo{
    left: 110px;
    position: relative;
    top: 55px;
}
}