@mixin cartoes {
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    height: 188px;
    width: 220px;
}


@mixin card-body {
    border: 1px solid #ffcc33;
    border-radius: 10px;
    background-color: #ffcc33;
    color: #7a2b58;
    text-align: center;
    width: 220px;
}


@mixin botoes { 
    background-color: white;
    border: 1px solid white;
    border-radius: 9999px;
    padding: 10px;
    width: 50px;
}


@mixin Trocabotoes { 
    background-color: #7a2b58;
    border: 1px solid #7a2b58;
    border-radius: 9999px;
    padding: 10px;
    width: 50px;
}