.cabecalho .cabecalho_bg {
  width: 100%;
}
.cabecalho .cabecalho_logo {
  bottom: 390px;
  left: 140px;
  position: relative;
  width: 100px;
}
.cabecalho .cabecalho_titulo {
  color: white;
  font-size: 1.2rem;
  left: 80px;
  position: absolute;
  top: 150px;
}
.cabecalho .cabecalho_texto {
  color: white;
  font-size: 0.9rem;
  left: 100px;
  position: absolute;
  top: 175px;
}

.principal {
  background-color: #7a2b58;
  bottom: 36px;
  height: 630px;
  position: relative;
  width: 360px;
}
.principal .principal_bolsafixa {
  border: 2px solid white;
  border-radius: 10px;
  height: 493px;
  left: 75px;
  position: relative;
  top: 60px;
  width: 220px;
}
.principal .principal_bolsa {
  bottom: 50px;
  left: 50px;
  position: relative;
  width: 120px;
}
.principal .principal_titulo {
  bottom: 25px;
  color: #ffcc33;
  font-size: 1.3rem;
  text-align: center;
  position: relative;
}
.principal .principal_Texto {
  color: white;
  margin-left: 10px;
  text-align: left;
}
.principal .principal_lista {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.principal .principal_lista .lista_item {
  color: white;
  font-size: 0.8rem;
  margin-top: 15px;
}
.principal .principal_iconeazul {
  background: url(../assests/icones/icon-blue.svg);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -80px;
  height: 50px;
  position: absolute;
  right: 235px;
  width: 100px;
}

.principal_cards {
  background-color: #03b5b0;
  display: flex;
  flex-direction: column;
  height: 1350px;
  position: relative;
  top: 137px;
  width: 360px;
}
.principal_cards .principal_subtitulo01 {
  border: 1px solid transparent;
  color: white;
  font-size: 1.09rem;
  left: 65px;
  position: relative;
  top: 40px;
  text-align: center;
  width: 240px;
}

.btn-group .primeiro-cartao {
  border: 1px solid white;
  background-color: white;
  border-radius: 20px;
  height: 188px;
  width: 220px;
  height: 188px;
  left: 74px;
  position: relative;
  top: 70px;
}
.btn-group .cartao_mulherlousa {
  left: 45px;
  position: relative;
  height: 130px;
  top: 20px;
  width: 130px;
}
.btn-group .cartao_retangulo {
  position: relative;
  right: 2px;
  top: 25px;
  width: 221px;
}
.btn-group .botao {
  background-color: white;
  border: 1px solid white;
  border-radius: 9999px;
  padding: 10px;
  width: 50px;
}
.btn-group .posicaoBotao01 {
  bottom: 5px;
  left: 85px;
  position: relative;
}
.btn-group .card-body {
  border: 1px solid #ffcc33;
  border-radius: 10px;
  background-color: #ffcc33;
  color: #7a2b58;
  text-align: center;
  width: 220px;
}
.btn-group .posicaoTexto01 {
  display: none;
}

.btn-group .segundo-cartao {
  border: 1px solid white;
  background-color: white;
  border-radius: 20px;
  height: 188px;
  width: 220px;
  left: 75px;
  position: absolute;
  top: 455px;
}
.btn-group .cartao_arquivo {
  left: 40px;
  position: relative;
  top: 50px;
  width: 130px;
}
.btn-group .posicaoBotao02 {
  position: relative;
  right: 46px;
  top: 110px;
}
.btn-group .posicaoTexto02 {
  display: none;
  position: relative;
  top: 115px;
}

.btn-group .terceiro-cartao {
  border: 1px solid white;
  background-color: white;
  border-radius: 20px;
  height: 188px;
  width: 220px;
  position: relative;
  right: 145px;
  top: 820px;
}
.btn-group .cartao_pessoasMesa {
  left: 50px;
  position: relative;
  top: 20px;
  width: 130px;
}
.btn-group .cartao_retangulo03 {
  position: relative;
  top: 30px;
  right: 2px;
  width: 221px;
}
.btn-group .posicaoBotao03 {
  left: 85px;
  position: relative;
  top: 10px;
}
.btn-group .posicaoTexto03 {
  display: none;
  position: relative;
  top: 20px;
}

.botao:hover {
  background-color: #7a2b58;
}

.informativo {
  background-color: #353535;
  height: 950px;
  width: 360px;
}
.informativo .infomativo_titulo {
  color: #03b5b0;
  font-size: 1.5rem;
  position: relative;
  top: 220px;
  text-align: center;
}
.informativo .informativo_imagem {
  height: 288px;
  position: relative;
  top: 280px;
  width: 360px;
}
.informativo .enfeite6 {
  height: 50px;
  width: 100px;
  background: url(../assests/icones/enfeite\ \ 6.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  right: 30px;
  top: 280px;
}
.informativo .enfeite7 {
  height: 50px;
  width: 100px;
  background: url(../assests/icones/enfeite\ 7.png);
  background-repeat: no-repeat;
  background-size: cover;
  left: 280px;
  position: relative;
  top: 250px;
}
.informativo .informativo_texto {
  border: 1px solid transparent;
  color: white;
  font-size: 1.09rem;
  left: 23px;
  position: relative;
  top: 310px;
  text-align: center;
  width: 320px;
}

.accordion {
  background-color: white;
  height: 1500px;
  width: 360px;
}
.accordion .accordion_texto {
  border: 1px solid transparent;
  color: black;
  font-size: 1.09rem;
  left: 30px;
  position: relative;
  top: 30px;
  text-align: center;
  width: 300px;
}

.accordion .circulo_img {
  left: 40px;
  height: 280px;
  position: relative;
  top: 50px;
  width: 280px;
}
.accordion .alteraCirculo {
  border: 1px solid black;
  border-radius: 9999px;
  bottom: 170px;
  left: 103px;
  padding: 76px;
  position: relative;
  width: 150px;
}
.accordion .circulo_texto {
  bottom: 300px;
  left: 100px;
  position: relative;
  padding: 20px;
  text-align: center;
  width: 170px;
}/*# sourceMappingURL=styles.css.map */